$mt-palette: (
  50: #e8f6e9,
  100: #c6e9c8,
  200: #a1daa4,
  300: #7bcb80,
  400: #5ec064,
  500: #42b549,
  600: #3cae42,
  700: #33a539,
  800: #2b9d31,
  900: #1d8d21,
  A100: #c8ffc9,
  A200: #95ff98,
  A400: #62ff66,
  A700: #48ff4d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
